<!-- MODALS PARA O ASSOCIADO -->
<!-- modal para ver informações sobre o usuário -->
<div class="modal fade" id="modalMemberInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ver detalhes do associado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Nome</label>
                  <input id="name" type="text" name="name" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">CPF</label>
                  <input id="cpf" type="text" name="name" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Categoria</label>
                  <input id="type" type="text" name="category" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Telefone</label>
                  <input id="phone" type="text" name="phone" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Situação Atual</label>
                  <input id="situation" type="text" name="situation" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Histórico</label>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Gerado em</th>
                        <th scope="col">Válido até</th>
                        <th scope="col">Situação</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div><!-- end .col-md-12 -->


              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
  </div>
</div>



<!-- modal para ver informações sobre o usuário -->
<div class="modal fade" id="modalMemberInfoPJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ver detalhes do associado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        <div class="modal-body">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <label for="">Nome</label>
                  <input id="namepj" type="text" name="name" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">CNPJ</label>
                  <input id="cnpj" type="text" name="cnpj" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Telefone</label>
                  <input id="phonepj" type="text" name="phone" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Categoria</label>
                  <input id="typepj" type="text" name="category" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Situação Atual</label>
                  <input id="situationpj" type="text" name="situation" class="form-control" disabled>
                </div>

                <div class="col-md-12">
                  <label for="">Histórico</label>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Gerado em</th>
                        <th scope="col">Válido até</th>
                        <th scope="col">Situação</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div><!-- end .col-md-12 -->


              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
  </div>
</div>
