
{% include "heading.html" %}

<body class="login-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/abtms/">
          ABTms </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/abtms/login/" onclick="scrollToDownload()">
              Entrar
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/abtms/signup/" onclick="scrollToDownload()">
              Cadastrar-se
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Siga-nos Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Curta-nos Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Siga-nos Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" style="background-image: url({{ url_for('static', filename='imgs/business-care-clinic-1282308.jpg') }}); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Recuperar Senha - PJ</h4>
                <div class="social-line">

                </div>
              </div>
              <div class="card-body">
                <form method="POST" action="/auth/login/">
                  <div class="input-group">
                    
                    <input name="cnpj" id="cnpj" type="cnpj" class="form-control" placeholder="CNPJ">
                  </div>


<div class="input-group">
<span class="badge badge-warning">Aviso</span>

<span>Depois de informar seu CNPJ, a senha anterior e um link para redefinição de senha será enviado para o e-mail informado no momento de cadastro.</span>
</div>


                  <div class="footer text-center">
                    <a id="btnResetCNPJ" class="btn btn-primary btn-link btn-wd btn-lg" style="color: red">
                      <button type="button" class="btn btn-success">Recuperar</button>
                    </a>
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/reset.js') }}"></script>
