
{% include "heading.html" %}

<body class="profile-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/abtms/modules/">
          ABTms </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="profile-page.html" onclick="scrollToDownload()">
              {{ user[0].name }}
            </a>
          </li>
          <li class="nav-item">
            {% if user[0].type == "user" %}
              <a class="nav-link" href="/abtms/settings/pf/" onclick="scrollToDownload()">
                <i class="material-icons">settings</i> Configurações
              </a>
            {% endif %}
            {% if user[0].type == "bussiness" %}
              <a class="nav-link" href="/abtms/settings/pj/" onclick="scrollToDownload()">
                <i class="material-icons">settings</i> Configurações
              </a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/abtms/logout/" onclick="scrollToDownload()">
              <i class="material-icons">exit_to_app</i> Sair
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" data-parallax="true" style="background-color:  #00FFFF">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1><img src="{{ url_for('static', filename='imgs/logo.png')}}"></h1>
            <h3 class="title text-center">Associação Brasileira de Telessaúde e Telemedicina</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Verificar Autenticidade de Estudante</h2>
      </div>

      <div class="row">
            <form action="/abtms/users/{{user[0].cpf}}/student/" method="post">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Documento</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                            <label for="exampleFormControlSelect1">Escolha o tipo de estudante</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="type">
                              <option value="nd">Não é estudante</option>
                              <option value="gra">Graduação</option>
                              <option value="pos">Pós-Graduação</option>
                            </select>
                        </div>
                        <div class="col-md-12">
<button type="submit" class="btn btn-success"">Confirmar</button>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </form>
      </div>
